{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="db-container db-half">
  {% for article in articles %}
    <li class="db-card db-panel">
      <h4>{{ article.title }}</h4>
      <span class="db-subtitle">{{ article.user.username ~ ' ' ~ article.date|format_date() }}</span>
      {% for tag in article.tags %}
        <p>{{ tag.name }}</p>
      {% endfor %}
    </li>
  {% endfor %}
</div>
{% endblock %}
