{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="db-wrapper db-container db-panel db-twothird">
    {% include('article/article_list.html.twig') %}
  </div>
{% endblock %}
