@media (max-width: 810px) {

  * {
    width:100%;
    background-color:white;
    color:$nord0;
    text-align:left;
    white-space:nowrap;
  }

  table {
    border-collapse:collapse;
    table-layout:fixed;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    overflow:scroll;
  }

  th {
    padding: 4px;
    border-bottom:2px solid #ccc;
  }

  tr, td {
    padding:4px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  tr:hover {
    background-color: white!important;
  }

  tr:nth-child(odd) {
    background-color: $nord5;
  }

  tr:nth-child(even) {
    background-color: #f2f6ff;
  }

  tr.db-disabled-row:nth-child(odd) {
    background-color:lightgrey;
  }

  tr.db-disabled-row:nth-child(even) {
    background-color:#ececec;
  }

  li {
    list-style:none;
  }

  .db-container:after,.db-container:before,.db-panel:after,.db-panel:before{content:"";display:table;clear:both}

  .db-round-small {
    border-radius:2px
  }

  .db-round-medium {
    border-radius:4px;
  }

  .db-round-large{
    border-radius:6px
  }

  .db-left-round {
    border-radius:8px 0px 0px 8px;
  }

  .db-right-round {
    border-radius:0px 8px 8px 0px;
  }

  .db-input {
    padding:1px;
    border:1px solid $nord4;
    width:100%;
    display:block;
  }

  .db-date-input {
    padding:1px;
    border:1px solid $nord4;
    width:100%;
    display:block;
  }

  .db-select {
    position:relative;
    width:100%;
    float:center;
    padding:3px;
    background-color:#ededf2;
    border:1px solid lightgrey;
  }

  .db-select select {
    display:none;
  }

  .db-button, a.db-button {
    background-color:$nord5;
    padding:6px;
    border:1px solid #ccc;
    color:$nord1;
    width:100%;
    display:inline-block;
    text-decoration:none;
  }

  #navbar .db-button-route {
    background-color:$nord2;
    color:$nord6;
  }

  .db-button:active {
    background-color:lightgrey!important;
  }

  .db-border {
    border:1px solid lightgrey;
    overflow:hidden;
  }

  .db-header {
    background-color:$nord4;
    margin-top:70px;
    padding:30px!important;
  }

  .db-subtitle {
    font-style:italic!important; 
  }

  .db-padding-small {
    padding:5px !important;
  }

  .db-half, .db-third, db-twothird, .db-quarter, .db-threequarter {
    width: 100%;
  }

  .db-max-large {
    max-width:1000px;
  }

  .db-max-small {
    max-width:300px;
  }
 
  .db-container, .db-panel {
    padding:0.01em 10px;
  }

  .db-panel {
    margin-top:10px;
    margin-bottom:10px;
  }

  ::before, ::after {
    box-sizing:inherit;
  }

  .db-list {
    padding:2px;
    list-style-type:none;
  }

  .db-list:nth-child(even) {
    background-color:$nord5;
    color:$nord0;
  }

  .db-list:nth-child(odd) {
    background-color:$nord4;
    color:$nord0;
  }

  .db-margin-top {
    margin-top:8px;
  }

  .db-margin-bottom {
    margin-bottom:8px;
  }

  .db-margin-left {
    margin-left:8px;
  }

  .db-margin-right {
    margin-right:8px;
  }

  .db-section {
    margin-top:8px;
    margin-bottom:8px;
  }

  .db-col {
    float:left;
    width:100%;
  }

  .db-card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .db-tag-label {
    background-color:#39A0ED;
    color:white;
    width:auto;
    height:auto;
    position:relative;
    margin-top:10px;
    font-size:13px;
    padding-left:3px;
    padding-right:3px;
    padding-top:0px;
    padding-bottom:0px;
    display:inline-block;
  }

  .db-tag-remove-btn {
    background-color:#e1cdff;
    position:relative;
    cursor:pointer;
    top:0px;
    margin-right:6px;
    padding:0px 4px 2px 4px;
  }
  
  .db-tag-remove-btn:hover {
    background-color:#ffcdfe;
  }

  .db-notif {
    background-color:#d8dee9;
    position:absolute;
    right:10px;
    top:38px;
    z-index:1;
    padding:30px 20px;
    font-size:20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    animation:animate-slide-left 0.3s;
    width:fit-content;
  }
  @keyframes animate-slide-left{from{right:-300px;opacity:0} to{right:0;opacity:1}}

  .db-left {
    float:left!important;
  }

  .db-right {
    float:right!important;
  }

  .db-center {
    text-align:center;
  }

  .db-middle {
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
  }

  .db-form-popup {
    background-color: white;
    display: none;
    position: fixed;
    z-index:3;
  }

  .db-background {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    z-index:2;
    background-color:$nord1;
    opacity:0.4;
  }

  .db-error {
    background-color:$nord11;
    color:$nord6;
    padding:10px 8px;
    width:100%;
  }

  .db-bar {
    width:100%;
    background-color:$nord6;
    position:relative;
  }

  .db-bar .db-bar-item {
    display:inline-block;
    width:100%;
    text-align:left;
  }

  .db-bar .db-menu {
    position:absolute;
    background-color:$nord6;
    display:none;
    height:100%;
    width:70%;
    left:0;
  }

  .db-bar .db-menu-button.db-bar-item .db-menu-icon {
    background-color:$nord6;
    color:$nord0;
    border:none;
    white-space:normal;
    height:fit-content;
    width:10%;
    padding:6px;
    float:left;
  }

  .db-bar .db-dropdown {
    position:relative;
    width:100%;
  }

  .db-bar .db-button {
    background-color:$nord6;
    color:$nord0;
    border:none;
    width:100%;
  }

  .db-dropdown:hover .db-dropdown-content, .db-dropdown:active .db-dropdown-content {
    display:block;
    width:100%;
  }

  .db-bar-block .db-dropdown {
    width:100%;
  }

  .db-dropdown .db-bar-block.db-dropdown-content {
    width:100%;
  }

  .db-bar-block .db-dropdown .db-button {
    width:100%;
    text-align:left;
  }

  .db-bar-block .db-bar-item {
    width:100%;
    display:block;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
  }

  .db-dropdown-content {
    cursor:auto;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1;
  }

  :disabled {
    border:1px solid lightgrey;
  }

  .db-button:disabled {
    background-color:snow;
    color:lightgrey;
    cursor:not-allowed;
  }

}