{% extends 'base.html.twig' %}
{% block body %}
{% set route_name = app.request.attributes.get('_route')%}
<div class="db-bar">
  <div class="db-menu">
    <a class="db-button db-bar-item" href="{{ path('home') }}"><b>Home</b></a>
    <a class="db-button db-bar-item" href="{{ path('create_article') }}"><b>Write</b></a>

  </div>
</div>

<script>
  window.addEventListener('load', function() {
    select_route();
  })

  function select_route() {
    const button = document.getElementById({{ route_name|json_encode()|raw }});
    if (button != null)
    {
      button.classList.add('db-button-route');
    }
  }

  function toggle_menu() {
    const menu = document.querySelector('.db-menu');
    if (menu.classList.value.includes('db-menu-opened'))
    {
      menu.style.display = 'none';
      menu.classList.remove('db-menu-opened');
    } else {
      menu.style.display = 'block';
      menu.classList.add('db-menu-opened');
    }
  }
</script>

{% endblock %}