{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block content %}
<form action="{{ path('app_login') }}" method="post" class="db-wrapper db-border db-middle db-round db-fifth">
  <div class="db-wrapper db-container">
    <p>
      <label for="email">Email</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" class="db-input db-border" required>
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="_password" class="db-input db-border" required>
    </p>
    <span class="db-wrapper">
      <input type="checkbox" class="db-checkbox" id="_remember_me" name="_remember_me" style="display:inline">
      <label for="_remember_me">Remember Me</label>
    </span>
    {% if error %}
      <span class="db-error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
    {% endif %}
    <p class="db-wrapper">
      <button type="submit" class="db-button db-border">Login</button>
      <a class="db-subtitle" href="{{ path('app_register') }}">Register Here</a>
    </p>
  </div>
</form>
{% endblock %}