{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="db-middle db-quarter">
  <h1 class="db-center">Firewrite</h1>
  <span class="db-center">Register</span>
  <form action="{{ path('app_register') }}" method="post" class="db-wrapper db-container db-panel db-border db-round">
    <p>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="db-input db-border" autocomplete="email" required>
    </p>
    <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="db-input db-border" autocomplete="username" required>
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="db-input db-border" minlength="6" maxlength="4096" autocomplete="new-password" required>
    </p>
    <div class="db-wrapper db-panel">
      <input type="checkbox" id="agree_terms" name="agree_terms" required>
      <label for="agree_terms" class="db-subtitle">Agree to <a href="">Terms of Service</a> (Demo)</label>
    </div>
    <button type="submit" class="db-button">Register</button>
  </form>
</div>
{% endblock %}
